replicaCount: 2

image:
  repository: 226198813310.dkr.ecr.us-east-1.amazonaws.com/sre-node-app
  tag: latest

service:
  type: LoadBalancer
  port: 3000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  host: "*"